<div class="shoutbox-component">
    <ul class="shouts-list">
        <li ng-repeat="shout in shouts"><small>{{ shout.timestamp | date: 'HH:mm:ss' }}</small> {{ shout.text }}</li>
    </ul>

    <form ng-submit="addShout()">
        <div class="input-group">
            <input type="text" ng-model="input" placeholder="Have your say" class="form-control" />
            <span class="input-group-btn"><button type="submit" class="btn btn-info ">and Shout it!</button></span>
        </div>
    </form>
</div>