<!DOCTYPE html>
<html ng-app="angularfire-shoutbox-example">
    <head>
        <meta charset="utf-8">
        <title>AngularFire Shoutbox Example</title>
        <meta name="description" content="Very simple real-time chat-like Shoutbox example built with AngularJS, Firebase, AngularFire and ngbp">

        <!-- social media tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@albertboa">
        <meta name="twitter:title" content="AngularFire Shoutbox Example">
        <meta name="twitter:description" content="Very simple real-time chat-like Shoutbox example built with AngularJS, Firebase, AngularFire and ngbp">
        <meta name="twitter:creator" content="@albertboa">
        <meta property="og:title" content="AngularFire Shoutbox Example" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Very simple real-time chat-like Shoutbox example built with AngularJS, Firebase, AngularFire and ngbp">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
    </head>
    <body>
        <div class="container">
            <h1>AngularFire Shoutbox Example</h1>
            <shoutbox></shoutbox>
        </div>
        <footer class="footer">
            <div class="container">
                <div><small>Tip: open this page in multiple browsers in order to see the <strong>real-time syncing awesomeness</strong>!</small></div>
                <div><small>Source code: <a href="http://github.com/albertboada/angularfire-shoutbox-example" target="_blank">github.com/albertboada/angularfire-shoutbox-example</a></small></div>
            </div>
        </footer>
    </body>
</html>